/* Created by: Ryan.S
 * Modified by: Josh.R
 */

html {
    font-family: monospace;
    background-color: #017585;
}

/* Header container styling */
#top-header {
    background-color: #2d9faf; /* Light-blue background for the rectangle */
    padding: 5px; /* Adds space around the text */
    border: double 2px black;
    border-radius: 20px; /* Softens corners of the rectangle */
    text-align: center; /* Centers the text */
    box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.5); /* Adds a subtle shadow */
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    width: 90%;
} 

/* Title styling */
#header-title h1 {
    font-size: 8vw; /* Larger font for the title */
    color: lightcyan; /* Darker color for contrast */
    margin-bottom: 10px; /* Adds spacing below the title */
}

/* Subtitle styling */
#header-subtitle h1 {
    font-size: 5vw; /* Smaller font for the subtitle */
    color: #003c9f; /* Softer color for the subtitle */
    margin-top: 0; /* Ensures no extra space above */
}

b,
p {
    color: #003c9f; /* Brighter color for the bold sections */
    font-size: 3vw; /* Smaller font for the main body */
}

body {
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}
#note {
    font-size: 2.5vw;
}

a:hover {
    background-color: #0b53c8;
    color: black;
    font-style: oblique;
}

a {
    color: #0b53c8;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
}

nav {
    border: double 2px;
    align-content: center;
    font-family: sans-serif;
    font-style: initial;
}

h3 {
    font-size: 7vw;
    text-align: center;
}
h4 {
    font-size: 3vw;
    text-align: center;
    font-style: oblique;
}

ul {
    font-style: oblique;
    list-style-type: none;
}

form,
section {
    border: double 2px black;
    border-radius: 20px; /* Softens corners of the rectangle */
    margin: 1em;
    text-indent: 2em;
    box-shadow: 8px 8px 4px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

#image,
#main {
    background-color: #2d9faf; /* Light-blue background for the rectangle */
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    width: 90%;
}

/*Styling for map API*/
.leaflet-container {
    height: 500px;
    align-items: center;
}

/* The sidepanel menu */
.sidepanel {
    height: 250px; /* Specify a height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the side panel */
}

/* The sidepanel links */
.sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #0c79b4;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
    color: #5aa4ef;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style the button that is used to open the sidepanel */
.openbtn {
    padding: 5px; /* Adds space around the text */
    font-size: 45px;
    cursor: pointer;
    background-color: #2d9faf;
    color: #ffffff;
    border: double 2px black;
    border-radius: 20px; /* Softens corners of the rectangle */
    text-align: center; /* Centers the text */
    box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.5); /* Adds a subtle shadow */
}

.openbtn:hover {
    background-color: #5aa4ef;
    position: fixed;
}
